.search-container {
    max-width: 800px;
    padding: 10px;
    border-radius: 0;
    display: flex;
    position: absolute;
    right: 15px;
    top: 79px;
    background-color: none;
}

.search-container>input {
    width: 90%;
    padding: 3px;
    border: 0;
    border-bottom: 1px solid green;
    font-weight: bold;
}

.search-container>input:focus {
    outline: 0;
    border-bottom: green;
    color: green;
}

.search-container>input:focus::placeholder {
    font-weight: bold;
}

.search-container>input::placeholder {
    color: green;
    font-weight: normal;
}

.search-container>button {
    width: 20%;
    cursor: pointer;
    margin-left: 5px;
    padding: 3px;
    background-color: green;
    color: white;
    border-color: white;
    text-transform: uppercase;
}

@media screen and (max-width: 550px) {
    .search-container {
        flex-direction: column;
        position: static;
    }
}