@import "appbar.css";
@import "search-container.css";
@import "navbar.css";
@import "content.css";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: green;
}

main {
    width: 100%;
    max-width: 100%;
    margin: auto;
}